<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Posts</h2>

      <ul class="list-group">
        <app-post-list-component *ngFor="let post of posts"
                       [nom]="post.title"
                       [contenue]="post.content"
                       [nbJaime]="post.loveIts"
                       [date]="post.created_at">
        </app-post-list-component>

      </ul>
    </div>
  </div>
</div>
