<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12">
      <app-appareil-view></app-appareil-view>
    </div>
  </div>
</div> -->

// TODO yo lo
// non

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="auth">Authentification</a></li>
        <li routerLinkActive="active"><a routerLink="appareils">Appareils</a></li>
        <li routerLinkActive="active"><a routerLink="edit">Edit Appareil</a></li>
        <li routerLinkActive="active"><a routerLink="users">Utilisateurs</a></li>
        <li routerLinkActive="active"><a routerLink="post-list">Exo 1</a></li>
        <a routerLink="/new-user">Nouvel utilisateur</a>
      </ul>
      <div class="navbar-right">
            <p>Vous êtes connecté depuis {{ secondes }} secondes !</p>
        </div>
    </div>
  </div>
</nav>


<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
