<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': nbJaime > 0,
                'list-group-item-danger': nbJaime < 0}">
  <!-- <div style="width:20px;height:20px;background-color:red;"
       *ngIf="appareilStatus === 'éteint'"></div> -->

  <div id="ligne">
  	<h4 [ngStyle]="{color: findColor()}"> {{ nom }}</h4>
  	<p [ngStyle]="{color: findColor()}"> {{ date | date: 'dd-MM-y'}}</p>    <!-- 'short' normalement -->
  </div>
  <p [ngStyle]="{color: findColor()}"> {{ contenue }}</p>
  <!-- <input type="text" class="form-control" [(ngModel)]="appareilName"> -->
  <button class="btn btn-success" (click)="jAime()">J'aime</button>
  <button class="btn btn-danger" (click)="jAimePas()">J'aime pas</button>
</li>