<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<app-mon-premier></app-mon-premier> -->

<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Mes appareils</h2>
      <ul class="list-group">
        <app-appareil></app-appareil>
        <app-appareil></app-appareil>
        <app-appareil></app-appareil>
      </ul>
      <button class="btn btn-success" [disabled]="!isAuth" (click)="onAllumer()">Tout allumer</button>
    </div>
  </div>
</div> -->


<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Mes appareils</h2> <!--  // requête asynchrone !  -->
      <p>Mis à jour : {{ lastUpdate | async | date: 'd MMMM y' | uppercase }}</p>
      <h4>Premiers tests</h4>
      <ul class="list-group">

        <!-- //  Donner valeur  -->
        <app-appareil appareilName="Yo"></app-appareil>

        <!-- // Variable dans la classe  -->
        <app-appareil [appareilName]="appareilThree" [appareilStatus]="'allumé'"></app-appareil>

      </ul>
      <h4>Parties fonctionnels</h4>
      <ul class="list-group">

        <!-- // FOR (tableau) puis ajout d'un index pour retrouver l'objet-->
        <app-appareil  *ngFor="let appareil of appareils; let i = index"
                       [appareilName]="appareil.name"
                       [appareilStatus]="appareil.status"
                       [index]="i"
                       [id]="appareil.id">
        </app-appareil>

      </ul>
      <button class="btn btn-success"
              [disabled]="!isAuth"
              (click)="onAllumer()">Tout allumer</button>
      <button class="btn btn-danger"
                    [disabled]="!isAuth"
                    (click)="onEteindre()">Tout éteindre</button>
    </div>
  </div>
</div>